<!DOCTYPE html>
<html>
  <head>
    <title>Modal Jazzifier</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="post" action="/output">
      <label for="tonicnote">Tonic Note</label><input name="rootNote" type="text"><br>
      <label for="targetnote">Target Note</label><input name="targetnote" type="text"><br>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
