<!DOCTYPE html>
<html>
  <head>
    <title>Modal Jazzifier</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <pre><%= JSON.stringify(data, null, 2) %></pre>
  </body>
</html>
